.item {
  /* margin-inline: var(--sp-lg);
  min-height: max-content;
  font-size: var(--fs-sm);
  background: #fff;
  box-shadow: 15px 15px var(--fourth-color);
  min-width: 180px; */
  border: 1px solid black;
  padding: 0 28px 0 28px;
  background: #ffffff;
   box-shadow: 15px 15px var(--fourth-color);
}

.item-name {
  margin: var(--sp-xs) 0 var(--sp-xs);
  font-size: var(--fs-md);
  font-weight: 600;
}

.item-quantity {
  /* padding: var(--sp-sm);
  font-size: var(--fs-sm); */
}

.item-expiration {
  /* padding: var(--sp-sm);
  font-size: var(--fs-sm); */
}

.btn-container {
   margin: var(--sp-lg) 0 var(--sp-lg);
   display: flex;
   justify-content: space-evenly;
}
