.active-link {
  text-decoration: underline;
}

.quick-link {
  position: absolute;
  left: 32px;
  top: 32px;
}

.quick-link>a:hover {
  color: var(--fourth-color);
  text-decoration: underline;
}

.cart-link {
  position: absolute;
  right: 32px;
  top: 32px;
}

.clear-cart {
  padding: 4px 10px;
  border: none;
  border: 1px solid var(--fourth-color);
  background: var(--fourth-color);
  color: white;
  cursor: pointer;
}

.clear-cart:hover {
  background: white;
  color: var(--fourth-color);
}

.cart-link {
  position: absolute;
  right: 32px;
  top: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -8px;

  min-width: 20px;
  height: 20px;
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
  color: white;

  border-radius: 999px;

  font-size: 12px;
  font-weight: 700;
  line-height: 1;
}