<app-quick-link path="panier" textLink="Mon panier" />

<div class="center-container">
  @if (cartService.count() > 0) {
    <div class="cart-container">
      <div class="cart-list">

        @for (product of uniqueProduct(); track product.id) {
          <div [id]="product.id" class="cart-item">
            <p>{{ product.name }}</p>
            <p>x {{ itemCount(product) }}</p>
          </div>
        }

      </div>

      <button (click)="placeOrder()">Valider</button>
    </div>
  } @else {
    <p class="empty-cart">Panier vide.</p>
  }
</div>
