.aliments-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aliments-container > div {
  padding: var(--p-xs);
  margin: var(--p-sm);
  min-height: max-content;
  font-size: var(--fs-xs);
  background: #fff;
  box-shadow: 15px 15px var(--fourth-color);
}

.aliments-container > div:hover {
  cursor: pointer;
  transform: scale(1.1);
}
