nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

a {
  padding: var(--p-sm);
  min-height: max-content;
  font-size: var(--fs-md);
  background: #fff;
  box-shadow: 15px 15px var(--fourth-color);
}

a:hover {
  cursor: pointer;
  transform: scale(1.1);
}
