.item {
  border: 1px solid black;
  padding: 0 28px 0 28px;
  background: #ffffff;
  box-shadow: 15px 15px var(--fourth-color);
  width: 314px;
}

.item-name {
  margin: var(--sp-xs) 0 var(--sp-xs);
  font-size: var(--fs-md);
  font-weight: 600;
}

.btn-container {
  margin: var(--sp-md) 0 var(--sp-sm);
  display: flex;
  justify-content: space-evenly;
}