/* You can add global styles to this file, and also import other style files */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: var(--first-color);
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
/* color palette */
--first-color: #f6f1d7;
--second-color: #a3af99;
--third-color: #7c9688;
--fourth-color: #5a7c79;
--fifth-color: #40626a;
--sixth-color: #2f4858;

/* spacing */
--sp-xs: 6px;
--sp-sm: 12px;
--sp-md: 24px;
--sp-lg: 36px;
--sp-xl: 64px;

/* font size */
--fs-xs: 8px;
--fs-sm: 12px;
--fs-md: 24px;
--fs-lg: 32px;
--fs-xl: 64px;

/* padding */
--p-xs: 16px;
--p-sm: 32px;
--p-md: 48px;
--p-lg: 64px;
--p-xl: 128px;

/* corner radius */
--cr-sm: 6px;
--cr-md: 12px;
--cr-lg: 24px;
}